<h1>Willkommen auf unserer Reiseplattform!</h1>

<!-- Anzeige der Kategorien -->
<h2>Kategorien</h2>
<ul>
  {{#each categories}}
    <li><a href="/category/{{this}}">{{this}}</a></li>
  {{/each}}
</ul>

<!-- Anzeige der Beiträge in Kacheln -->
<h2>Unsere Reiseempfehlungen</h2>
<div class="posts-grid">
  {{#each posts}}
    <div class="posts-card">
      <img src="/uploads/{{image_url}}" alt="Post Image" />
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <a href="/posts/{{id}}">Mehr erfahren</a>
    </div>
  {{/each}}
</div>